apiVersion: v1
kind: Service
metadata:
  name: pihole-service
  namespace: default
spec:
  selector:
    app: pihole
  ports:
    - name: dns
      protocol: UDP
      port: 53
      targetPort: 53
    - name: dns-tcp
      protocol: TCP
      port: 53
      targetPort: 53
    - name: webui
      protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP
