---
apiVersion: v1
kind: Service
metadata:
  name: postgresql-service
  namespace: default
  labels:
    app: postgresql
spec:
  selector:
    app: postgresql
  ports:
    - protocol: TCP
      port: 5432 #service port
      targetPort: 5432 # port which container exposes
      name: postgres
  clusterIP: None

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgresql
  namespace: default
  labels:
    app: postgresql
spec:
  serviceName: "postgresql-service"
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      containers:
        - name: posgresql
          image: postgres:16.1-alpine
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: postgresql-credentials
          ports:
            - containerPort: 5432
              name: postgres
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
          readinessProbe:
            exec:
              command: ["pg_isready", "-U", "k3surlshrt"]
            initialDelaySeconds: 10
            timeoutSeconds: 5
            periodSeconds: 20
            failureSeconds: 3
      terminationGracePeriodSeconds: 10
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: manual-postgresql
        resources:
          requests:
            storage: 10Gi
