apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflared
data:
  config.yaml: |
    credentials-file: /etc/cloudflared/credentials.json

    ingress:

      - hostname: shrt.k3s-homelab.org
        path: /.well-known/acme-challenge/*
        service: http://cm-acme-http-solver-d8g8n.default.svc.cluster.local:8089

      - hostname: shrt.k3s-homelab.org
        service: https://traefik.kube-system.svc.cluster.local:443
        originRequest:
          originServerName: shrt.k3s-homelab.org

      - hostname: home.k3s-homelab.org
        path: /.well-known/acme-challenge/*
        service: http://cm-acme-http-solver-dl4zh.glance.svc.cluster.local:8089

      - hostname: home.k3s-homelab.org
        service: https://traefik.kube-system.svc.cluster.local:443
        originRequest:
          originServerName: home.k3s-homelab.org

      - hostname: blog.k3s-homelab.org
        path: /.well-known/acme-challenge/*
        service: http://traefik.kube-system.svc.cluster.local:80

      - hostname: blog.k3s-homelab.org
        service: https://traefik.kube-system.svc.cluster.local:443
        originRequest:
          originServerName: blog.k3s-homelab.org

      - hostname: nginx.k3s-homelab.org
        service: https://traefik.kube-system.svc.cluster.local:443
        originRequest:
          originServerName: nginx.k3s-homelab.org

      - hostname: grafana.k3s-homelab.org
        service: https://traefik.kube-system.svc.cluster.local:443
        originRequest:
          originServerName: grafana.k3s-homelab.org

      - hostname: prometheus.k3s-homelab.org
        service: https://traefik.kube-system.svc.cluster.local:443
        originRequest:
          originServerName: prometheus.k3s-homelab.org

      - service: http_status:404
