apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pihole-data
  nemespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path
